
html {
    font-size: 20px;
    font-family: 'Arial','Long Cang','Noto Serif SC', serif, Arial, Helvetica, sans-serif;;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #91c2f2;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

div{
    width: 800px;
}

nav ul {
    margin: 0;
    padding: 0;
  }

nav ul li {
    display: inline;
    margin: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
    /* margin: 0; */
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px green;
}
img {
    display: block;
    margin: 0 auto;
    width:  100%;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    text-decoration:blink;
    text-transform: capitalize;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}